.chartWrapper {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.chartWrapper > canvas {
  position: absolute;
  /* height: 30vh; */
}

.chartAreaWrapper {
  width: 1000px;
  /* width: 150vw; */
  /* height: 30vh; */
  height: 500px;
  margin: 0 auto;
}
