p {
  font-size: medium;
  font-weight: 600;
}
.dayInfo__box {
  border-bottom: 1px solid black;
  padding-left: 30px;
  padding-right: 30px;
}

.dayInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon__humidity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon__humidity > p {
  margin-left: 1.5rem;
  color: skyblue;
}

.temps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 5rem;
}

.temps > .max {
  color: red;
}

.temps > .min {
  color: blue;
}

.temps > p {
  margin-left: 1.5rem;
}
