p {
  font-size: medium;
  font-weight: 600;
}
.dayInfo__box {
  /* border-bottom: 1px solid black; */
  margin-left: 70px;
  margin-right: 70px;
  /* background-color: #f5f5f5; */
}

.dayInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.day {
  flex: 0.15;
  padding-left: 2rem;
}

.icon__box {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon__box > p {
  width: 3rem;
  margin-left: 1.5rem;
  font-size: 0.8rem;
}

.wind__box {
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wind__box > p {
  /* color: #2ba7fa; */
}
.temps__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 7rem;
  margin-right: 1rem;
}

.temp {
  display: flex;
  width: 4rem;
  justify-content: flex-end;
}
.temp > p {
  width: 1.5rem;
  margin-left: 1rem;
}

.temp > .max {
  /* color: red; */
}

.temp > .min {
  /* color: blue; */
}
