.Header {
  height: 5rem;
  background-color: #aebfbe;
}

.Header__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.Header__content > p {
  font-size: 3rem;
  /* margin-right: 200px; */
  padding-left: 20%;
  padding-right: 20%;
}

.Header__content > button {
  width: 100px;
  flex: 1;
}
